[project]
	description = resources for development
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brayan Borda Pacheco (Brayanbp)
[access "refs/for/refs/*"]
	read = group user/Brayan Borda Pacheco (Brayanbp)
	push = group user/Brayan Borda Pacheco (Brayanbp)
	label-Code-Review = -2..+2 group user/Brayan Borda Pacheco (Brayanbp)
	label-Verified = -1..+1 group user/Brayan Borda Pacheco (Brayanbp)
	rebase = group user/Brayan Borda Pacheco (Brayanbp)
	removeReviewer = group user/Brayan Borda Pacheco (Brayanbp)
	submit = group user/Brayan Borda Pacheco (Brayanbp)
[access "refs/heads/*"]
	read = group user/Brayan Borda Pacheco (Brayanbp)
	create = group user/Brayan Borda Pacheco (Brayanbp)
	push = +force group user/Brayan Borda Pacheco (Brayanbp)
	pushMerge = group user/Brayan Borda Pacheco (Brayanbp)
[access "refs/tags/*"]
	push = +force group user/Brayan Borda Pacheco (Brayanbp)
	pushTag = group user/Brayan Borda Pacheco (Brayanbp)
	pushSignedTag = group user/Brayan Borda Pacheco (Brayanbp)
